services:
  debian-with-sshd:
    build:
      context: .
    container_name: debian-container
    ports:
      - "2222:22"
#      - "8080:8080"
    environment:
      - SSHD_USER=user
      - SSHD_PASSWORD=pass
    volumes:
    - ./html:/var/www/html